.horizontal-sale {
    height: 900px;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.horizontal-sale .overlay {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horizontal-sale .overlay .percent-number {
    color: white;
    font-size: 13rem;
    font-weight: 700;
    line-height: 1;
}

.horizontal-sale .overlay .title {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 20px;
    margin-bottom: 1rem;
}

.horizontal-sale .overlay a {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    padding: 20px 60px;
    border: 2px solid white;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.horizontal-sale .overlay a:hover {
    color: black;
    background: var(--highlight-color);
}