.products-group {
    padding: 50px 0 0 0;
    overflow: hidden;
}

.products-group div[class*="col"] {
    margin-bottom: 50px;
}

.products-group div[class*="col"] a {
    border: 1px solid black
}

.products-group h2 {
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 50px;

}

.products-group .product-bg {
    background: white;
    min-height: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.products-group .product-bg .product-img {
    width: 80%;
}

.products-group .product-bg .overlay {
    background: #1b1b1b;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    color: var(--highlight-color);
}

.products-group .product-bg .overlay:hover {
    opacity: 1;
}

.products-group .product-bg .overlay .product-title {
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 30px;
    color: #faf745;
    line-height: 2;
}

.products-group .product-bg .overlay .product-price {
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
}